/coverage

# next.js
/.next/
/out/

# production
/build
/dist/        # Ensure this line exists to ignore the entire dist directory

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.vscode
*.bak

# local notes
*.local.md

